body {
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 19px;
}

header {
  background-color: #245F64;
  padding: 35px;
  font-size: 69px;
  font-weight: bold;
  transition: 1s;
}

nav {
  background-color: #00484F;
  height: 60px;
  transition: .3s;
}

nav button {
  border-style: none;
  background-color: #00353A;
  height: 60px;
  color: white;
  font-size: 25px;
  padding: 0px 35px;
  transition: .3s;
}

nav:hover {
  height: 75px;
}

nav:hover button {
  height: 75px;
}

nav button:hover {
  background-color: #004147;
}

section {
  background-color: #70A6AA;
  padding-bottom: 100px;
}
article {
  background-color: #438D93;
  padding: 20px 10px;
  margin-right: 10px;
  height: 500px;
  border-radius:0px 0px 100px;
}

footer {
  background-color: #17565B;
  padding: 75px 25px;
}
